/*locally hosted font*/
@font-face {
  font-family: pacifico;
  src: url(./fonts/Pacifico-Regular.ttf);
}

@font-face {
  font-family: quicksand;
  src: url(./fonts/Quicksand-VariableFont_wght.ttf);
}
/*end locally hosted font*/

/*Header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  flex-wrap: wrap;
}

h1 {
  color: darkblue;
  font-family: quicksand, sans-serif;
}

#flagheader {
  display: flex;
}

/*header nav*/
#navigation {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-right: 2px;
  font-size: xx-large;
}
.anav {
  text-decoration: none;
  color: darkblue;
}
/*end of header*/

/*h2*/
section:nth-of-type(1) {
  text-align: center;
  font-size: xx-large;
  font-family: quicksand, sans-serif;
  color: darkblue;
  /*border: solid 1px gray;*/
}
/*end of h2*/

/*img and description*/
section:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
  gap: 50px;
  flex-wrap: wrap;
  /*border: solid 1px gray;*/
  margin-top: 10px;
}
/*end of img and description*/

/*jump button*/
.ibutton {
  /*width: 200px;*/
  display: flex;
  justify-content: space-evenly;
}

/*jump button text*/
.jump {
  text-decoration: none;
  font-size:x-large;
  color: white;
  font-weight: bold;
  border: solid darkblue 2px;
  border-radius: 6px;
  background-color: darkblue;
  
}
/*end of jump button*/

h3 {
  text-align: center;
  color: white;
  background-color: darkblue;
  border-radius: 6px;
  font-size: xx-large;
  font-family: quicksand, sans-serif;
}

/*recipe image*/
/*to autofit image*/
.image {
  max-width: 100%;
  height: auto;
}
/*image hover*/
.image:hover {
  transform: scale(0.9);
}
/*end of recipe image*/

/*recipe description para*/
/*alligning paragraph with the picture*/
.ipara {
  width: 450px;
  text-align: justify;
  font-size: large;
  font-family: quicksand, sans-serif;
  /*border: solid gray 1px;*/
}
/*end of recipe image*/

/*recipe*/
.recipe {
  /* border: solid gray 1px;*/
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
/*end of recipe*/

/*ingredients*/
.ingredients {
  /*border: groove blue 5px;*/
  border-radius: 10px;
  width: 420px;
  /*width: 600px;*/
  font-family: pacifico, sans-serif;
  background-image: url(./img/vintagenotebook.jpg);
  background-repeat: no-repeat;
  transition: all 2s;
}

.ingredients:hover {
  transform: scale(1.2);
  /*overflow: hidden;*/
}
/*end of ingredients*/

/*making fix height of the recipe section*/
section:nth-of-type(3),section:nth-of-type(4){
  height: 600px;
}

section:nth-of-type(5) div{
  height: 900px;
}

section:nth-of-type(6) div{
  height: 500px;
}

/*h4*/
h4 {
  text-align: center;
  color: white;
  background-color: darkblue;
  border-radius: 6px;
  font-size: xx-large;
  font-family: pacifico, sans-serif;
}
/*end of h4*/

/*video*/
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.vidtitle {
  border: solid gray 1px;
}
/*end of video*/

/*footer*/
footer {
  background-color: yellow;
}

#foot {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
/*end of footer*/

/*about*/
#aboutphmappara {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

#aboutphpara {
  width: 600px;
  /*border: solid gray 1px;*/
  text-align: justify;
}
/*End of about*/
